<?xml version="1.0"?>
<appSettings>
  <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
  <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
  <add key="as:Issuer" value="http://localhost:4873" />
  
  <add key="facebook:AppID" value="1691535564408747" />
  <add key="facebook:AppSecret" value="97fff65330422581162d51ebdf107060" />
  <add key="facebook:AppToken" value="1691535564408747|YL3SLnznYlT6cQnoalKVmGfNh0E" />

  <add key="google:ClientID" value="420155370950-du2tviku4bpc1vui804adh1o4b17n85d.apps.googleusercontent.com" />
  <add key="google:ClientSecret" value="p4fgm1pcPnMj-qi6T8sH9KOH" />
</appSettings>