@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome Home</h1>
</div>

<div id="msg"></div>

<div>
    <a href="/Account/Login">Login</a> <br />
    <a href="/Account/Register">Register</a> <br />
    <a href="/Account/ConfirmEmail">ConfirmEmail</a> <br />
    <a href="/Account/ForgotPassword">ForgotPassword</a> <br />
    <a href="/Account/ForgotPasswordConfirmation">ForgotPasswordConfirmation</a> <br />
    <a href="/Account/ChangePassword?code=putUserVerificationCode">ChangePassword</a> <br />
    <a href="/Account/ChangePasswordConfirmation">ChangePasswordConfirmation</a> <br />
    <a href="/Account/Logout">Logout</a> <br />
</div>


@section headerScripts {
    <link href="/Content/Custom.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Custom/global.js"></script>
    <script src="~/Scripts/Custom/loader.js"></script>
    <script src="~/Scripts/Custom/validaion_message.js"></script>
}